.body-main-font {
  font-family: 'Helvetica Neue', serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.subtitle-font {
  font-family: 'Helvetica Neue', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.title-font {
  font-family: 'Helvetica Neue', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.title-big-font {
  font-family: 'Helvetica Neue', serif;
  font-size: 25px;
  line-height: 30px;
}

.root[data-grade='main'] {
  @extend .body-main-font;
}

.root[data-grade='subtitle'] {
  @extend .subtitle-font;
}

.root[data-grade='title'] {
  @extend .title-font;
}

.root[data-grade='big'] {
  @extend .title-big-font;
}
