@import url('../../components/breakpoints-tokens/breakpoints-tokens.css');

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  margin-bottom: 50px;
}

@media (--desktop-min-width) {
  .main {
    margin-bottom: 100px;
  }
}

@media (--desktop-min-width) {
  .hideOnDesktop {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
}

@media (--desktop-min-width) {
  .footer {
    justify-content: flex-start;
  }
}
